@{
    ViewData["Title"] = "Binary Meatheads";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Binary Blog</h1>    
</div>

<div>
<hr/>
<h2>Hello world!</h2>
<small class="text-muted">Published 15th November 2019 by admin</small>
<div>
<img src="https://images.pexels.com/photos/50582/selfie-monkey-self-portrait-macaca-nigra-50582.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=300" height="300px"/>
<p>Finally, after no demand from our customers, we are starting our own blog!</p>
<p>This will be updated in uneven intervals with articles bragging about our products and services. Stay tuned!</p>
<br>
</div>
</div>
